---
import PokemonCard from '../components/PokemonCard.astro';
import Layout from '../layouts/Layout.astro';

const data = await fetch('https://pokeapi.co/api/v2/pokemon?limit=100');
const pokemons = await data.json();
---

<Layout>
  <h1 class="text-3xl font-bold mb-6">Pokedex</h1>
  <div class="grid grid-cols-3 grid-rows-2 p-4 gap-4">
    {
      pokemons.results.map(
        (pokemon: { url: string; name: unknown }, index: 0) => {
          return (
            <PokemonCard
              imageSrc={`https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/${++index}.png`}
              title={pokemon.name as string}
              description={`This is ${pokemon.name as string}`}
            />
          );
        },
      )
    }
  </div>
</Layout>
