---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro" />
    <title>PokeDex-Astro</title>
  </head>
  <body>
    <main
      class="items-center justify-center flex flex-col min-h-screen bg-gray-200"
    >
      <slot />
    </main>
  </body>
</html>
